# HW#7 MRET HEIN 
# 10 SQL Propositions for Chapter 7 Beyond the Fundamentals of Querying

# Running T-SQL Queries in VS Code Jupyter Notebook

This notebook demonstrates how to connect to a **SQL Server 2019 Docker container** and run SQL queries directly inside **Visual Studio Code** using Jupyter Notebook.

---

## 1. Environment Setup

Make sure you have:

- âœ… **Python 3.8+**
- ðŸ³ **Docker Desktop** (with SQL Server container running)
- ðŸ’» **VS Code Extensions**: *Python* and *Jupyter*
- ðŸ”‘ **ODBC Driver 17 or 18 for SQL Server** (from Microsoft)
- ðŸ“¦ **Python Packages**:  
  `ipython-sql`, `sqlalchemy`, `pyodbc`, `pandas`, `prettytable`

---

## ðŸ“¦ 2. Install Required Python Packages


```python
%pip install -U sql sqlalchemy pyodbc pandas prettytable

## ðŸ§© 3. Load SQL Magic

%load_ext sql

## ðŸ” 4. Define Connection Parameters

from urllib.parse import quote_plus

USER = "SA"
PASSWORD_PLAINTEXT = "YourStrong!Passw0rd"   # replace with your actual password

PASSWORD_ENC = quote_plus(PASSWORD_PLAINTEXT)

CONN_URL = (
    f"mssql+pyodbc://{USER}:{PASSWORD_ENC}@localhost,13001/master"
    f"?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes"
)

%sql $CONN_URL

## ðŸ©¹ 5. Fix PrettyTable Style Compatibility (if needed)

If you see the error
KeyError: 'DEFAULT',
run this code once per notebook:



import prettytable as pt

if not hasattr(pt, "DEFAULT") and hasattr(pt, "STYLE_DEFAULT"):
    pt.DEFAULT = pt.STYLE_DEFAULT

if not hasattr(pt, "PLAIN_COLUMNS") and hasattr(pt, "STYLE_PLAIN_COLUMNS"):
    pt.PLAIN_COLUMNS = pt.STYLE_PLAIN_COLUMNS

if not hasattr(pt, "MSWORD_FRIENDLY") and hasattr(pt, "STYLE_MSWORD_FRIENDLY"):
    pt.MSWORD_FRIENDLY = pt.STYLE_MSWORD_FRIENDLY

if not hasattr(pt, "MARKDOWN") and hasattr(pt, "STYLE_MARKDOWN"):
    pt.MARKDOWN = pt.STYLE_MARKDOWN
    

%config SqlMagic.style = 'DEFAULT'

## ðŸ§  6. Test the Connection

%sql SELECT @@SERVERNAME AS ServerName, @@VERSION AS VersionInfo;

## 7. Run SQL Queries

You can write and execute SQL directly with the %%sql cell magic:

%%sql

{Your Queries}

## **************Installing packages and establishing connection:**************

In [1]:
%pip install -U sql sqlalchemy pyodbc pandas prettytable

Requirement already satisfied: sql in c:\users\mreth\anaconda3\lib\site-packages (2022.4.0)
Requirement already satisfied: sqlalchemy in c:\users\mreth\appdata\roaming\python\python313\site-packages (2.0.44)
Requirement already satisfied: pyodbc in c:\users\mreth\anaconda3\lib\site-packages (5.3.0)
Requirement already satisfied: pandas in c:\users\mreth\anaconda3\lib\site-packages (2.3.3)
Requirement already satisfied: prettytable in c:\users\mreth\appdata\roaming\python\python313\site-packages (3.16.0)
Collecting prettytable
  Downloading prettytable-3.17.0-py3-none-any.whl.metadata (34 kB)
Requirement already satisfied: greenlet>=1 in c:\users\mreth\appdata\roaming\python\python313\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mreth\appdata\roaming\python\python313\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\mreth\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mreth\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mreth\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mreth\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: wcwidth in c:\users\mreth\appdata\roaming\python\python313\site-packages (from prettytable) (0.2.13)
Requirement already satisfied: six>=1.5 in c:\users\mreth\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading prettytable-3.17.0-py3-none-any.whl (34 kB)
Installing collected packages: prettytable
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.16.0
    Uninstalling prettytable-3.16.0:
      Successfully uninstalled prettytable-3.16.0
Successfully installed prettytable-3.17.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
%load_ext sql

import pyodbc
print("ODBC drivers found:", pyodbc.drivers())

ODBC drivers found: ['SQL Server', 'ODBC Driver 17 for SQL Server', 'ODBC Driver 18 for SQL Server', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)']

--Set a global output limit for SQL query results to 20

In [3]:

%config SqlMagic.autolimit = 20

In [4]:
from urllib.parse import quote_plus

USER = "SA"
PASSWORD_PLAINTEXT = "Mh@23561265"  # <-- your real password
PASSWORD_ENC = quote_plus(PASSWORD_PLAINTEXT)  # encodes @ -> %40, etc.

# Use Driver 18 if installed; otherwise change the '18' to '17'
CONN_URL = (
    f"mssql+pyodbc://{USER}:{PASSWORD_ENC}@localhost,13001/master"
    f"?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes"
)

print("Connecting with URL:", CONN_URL)  # safe because password is encoded
%sql $CONN_URL

Connecting with URL: mssql+pyodbc://SA:Mh%4023561265@localhost,13001/master?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes

In [5]:
# PrettyTable compatibility shim for ipython-sql
import prettytable as pt

if not hasattr(pt, "DEFAULT") and hasattr(pt, "STYLE_DEFAULT"):
    pt.DEFAULT = pt.STYLE_DEFAULT
if not hasattr(pt, "PLAIN_COLUMNS") and hasattr(pt, "STYLE_PLAIN_COLUMNS"):
    pt.PLAIN_COLUMNS = pt.STYLE_PLAIN_COLUMNS
if not hasattr(pt, "MSWORD_FRIENDLY") and hasattr(pt, "STYLE_MSWORD_FRIENDLY"):
    pt.MSWORD_FRIENDLY = pt.STYLE_MSWORD_FRIENDLY
if not hasattr(pt, "MARKDOWN") and hasattr(pt, "STYLE_MARKDOWN"):
    pt.MARKDOWN = pt.STYLE_MARKDOWN

C:\Users\mreth\AppData\Local\Temp\ipykernel_11224\411305125.py:4: DeprecationWarning: the 'DEFAULT' constant is deprecated, use the 'TableStyle' enum instead
  if not hasattr(pt, "DEFAULT") and hasattr(pt, "STYLE_DEFAULT"):
C:\Users\mreth\AppData\Local\Temp\ipykernel_11224\411305125.py:6: DeprecationWarning: the 'PLAIN_COLUMNS' constant is deprecated, use the 'TableStyle' enum instead
  if not hasattr(pt, "PLAIN_COLUMNS") and hasattr(pt, "STYLE_PLAIN_COLUMNS"):
C:\Users\mreth\AppData\Local\Temp\ipykernel_11224\411305125.py:8: DeprecationWarning: the 'MSWORD_FRIENDLY' constant is deprecated, use the 'TableStyle' enum instead
  if not hasattr(pt, "MSWORD_FRIENDLY") and hasattr(pt, "STYLE_MSWORD_FRIENDLY"):
C:\Users\mreth\AppData\Local\Temp\ipykernel_11224\411305125.py:10: DeprecationWarning: the 'MARKDOWN' constant is deprecated, use the 'TableStyle' enum instead
  if not hasattr(pt, "MARKDOWN") and hasattr(pt, "STYLE_MARKDOWN"):

In [6]:
%sql SELECT @@SERVERNAME AS ServerName, @@VERSION AS VersionInfo;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[('csci331-server', 'Microsoft SQL Server 2019 (RTM-CU32-GDR) (KB5063757) - 15.0.4440.1 (X64) \n\tJul 14 2025 12:59:40 \n\tCopyright (C) 2019 Microsoft Corporation\n\tDeveloper Edition (64-bit) on Linux (Ubuntu 20.04.6 LTS) <X64>')]

# My 10 Propositions:

### Proposition 1 â€“ Ranking orders within each customer

-For each customer, rank their orders by TotalDue from highest to lowest. Show only orders that are in the top 5 per customer.

-USES ROW_NUMBER() + top N per group

In [17]:
%%sql
USE AdventureWorks2019;

WITH RankedOrders AS (
    SELECT
        soh.CustomerID,
        soh.SalesOrderID,
        soh.OrderDate,
        soh.TotalDue,
        ROW_NUMBER() OVER (
            PARTITION BY soh.CustomerID
            ORDER BY soh.TotalDue DESC
        ) AS OrderRank
    FROM Sales.SalesOrderHeader AS soh
)
SELECT
    CustomerID,
    SalesOrderID,
    OrderDate,
    TotalDue,
    OrderRank
FROM RankedOrders
WHERE OrderRank <= 5
ORDER BY CustomerID, OrderRank;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(11000, 43793, datetime.datetime(2011, 6, 21, 0, 0), Decimal('3756.9890'), 1),
 (11000, 57418, datetime.datetime(2013, 10, 3, 0, 0), Decimal('2770.2682'), 2),
 (11000, 51522, datetime.datetime(2013, 6, 20, 0, 0), Decimal('2587.8769'), 3),
 (11001, 43767, datetime.datetime(2011, 6, 17, 0, 0), Decimal('3729.3640'), 1),
 (11001, 51493, datetime.datetime(2013, 6, 18, 0, 0), Decimal('2674.0227'), 2),
 (11001, 72773, datetime.datetime(2014, 5, 12, 0, 0), Decimal('650.8008'), 3),
 (11002, 43736, datetime.datetime(2011, 6, 9, 0, 0), Decimal('3756.9890'), 1),
 (11002, 53237, datetime.datetime(2013, 7, 26, 0, 0), Decimal('2673.0613'), 2),
 (11002, 51238, datetime.datetime(2013, 6, 2, 0, 0), Decimal('2535.9640'), 3),
 (11003, 43701, datetime.datetime(2011, 5, 31, 0, 0), Decimal('3756.9890'), 1),
 (11003, 57783, datetime.datetime(2013, 10, 10, 0, 0), Decimal('2674.4757'), 2),
 (11003, 51315, datetime.datetime(2013, 6, 7, 0, 0), Decimal('2562.4508'), 3),
 (11004, 43810, datetime.datetime(2011, 6, 25, 0, 0), Decimal('3756.9890'), 1),
 (11004, 57293, datetime.datetime(2013, 10, 1, 0, 0), Decimal('2673.0613'), 2),
 (11004, 51595, datetime.datetime(2013, 6, 24, 0, 0), Decimal('2626.5408'), 3),
 (11005, 43704, datetime.datetime(2011, 6, 1, 0, 0), Decimal('3729.3640'), 1),
 (11005, 57361, datetime.datetime(2013, 10, 2, 0, 0), Decimal('2634.3974'), 2),
 (11005, 51612, datetime.datetime(2013, 6, 25, 0, 0), Decimal('2610.3084'), 3),
 (11006, 43819, datetime.datetime(2011, 6, 26, 0, 0), Decimal('3756.9890'), 1),
 (11006, 58007, datetime.datetime(2013, 10, 14, 0, 0), Decimal('2634.3974'), 2)]

### Proposition 2 â€“ Running total of sales by territory

-For each territory, list all orders ordered by date and compute the running total of TotalDue in that territory.

-USES Windowed SUM() with a frame for a running total

In [18]:
%%sql
USE AdventureWorks2019;


SELECT
    soh.TerritoryID,
    soh.SalesOrderID,
    soh.OrderDate,
    soh.TotalDue,
    SUM(soh.TotalDue) OVER (
        PARTITION BY soh.TerritoryID
        ORDER BY soh.OrderDate, soh.SalesOrderID
        ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
    ) AS RunningTotal_Territory
FROM Sales.SalesOrderHeader AS soh
ORDER BY TerritoryID, OrderDate, SalesOrderID;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(1, 43664, datetime.datetime(2011, 5, 31, 0, 0), Decimal('27510.4109'), Decimal('27510.4109')),
 (1, 43665, datetime.datetime(2011, 5, 31, 0, 0), Decimal('16158.6961'), Decimal('43669.1070')),
 (1, 43669, datetime.datetime(2011, 5, 31, 0, 0), Decimal('807.2585'), Decimal('44476.3655')),
 (1, 43671, datetime.datetime(2011, 5, 31, 0, 0), Decimal('9153.6054'), Decimal('53629.9709')),
 (1, 43683, datetime.datetime(2011, 5, 31, 0, 0), Decimal('48204.0662'), Decimal('101834.0371')),
 (1, 43686, datetime.datetime(2011, 5, 31, 0, 0), Decimal('3899.6756'), Decimal('105733.7127')),
 (1, 43699, datetime.datetime(2011, 5, 31, 0, 0), Decimal('3756.9890'), Decimal('109490.7017')),
 (1, 43711, datetime.datetime(2011, 6, 3, 0, 0), Decimal('3953.9884'), Decimal('113444.6901')),
 (1, 43718, datetime.datetime(2011, 6, 5, 0, 0), Decimal('3953.9884'), Decimal('117398.6785')),
 (1, 43723, datetime.datetime(2011, 6, 6, 0, 0), Decimal('772.5036'), Decimal('118171.1821')),
 (1, 43733, datetime.datetime(2011, 6, 8, 0, 0), Decimal('3953.9884'), Decimal('122125.1705')),
 (1, 43734, datetime.datetime(2011, 6, 9, 0, 0), Decimal('3953.9884'), Decimal('126079.1589')),
 (1, 43741, datetime.datetime(2011, 6, 11, 0, 0), Decimal('3953.9884'), Decimal('130033.1473')),
 (1, 43748, datetime.datetime(2011, 6, 13, 0, 0), Decimal('3953.9884'), Decimal('133987.1357')),
 (1, 43749, datetime.datetime(2011, 6, 13, 0, 0), Decimal('3953.9884'), Decimal('137941.1241')),
 (1, 43754, datetime.datetime(2011, 6, 14, 0, 0), Decimal('3953.9884'), Decimal('141895.1125')),
 (1, 43768, datetime.datetime(2011, 6, 18, 0, 0), Decimal('3953.9884'), Decimal('145849.1009')),
 (1, 43770, datetime.datetime(2011, 6, 18, 0, 0), Decimal('3953.9884'), Decimal('149803.0893')),
 (1, 43789, datetime.datetime(2011, 6, 21, 0, 0), Decimal('3729.3640'), Decimal('153532.4533')),
 (1, 43790, datetime.datetime(2011, 6, 21, 0, 0), Decimal('3756.9890'), Decimal('157289.4423'))]

### Proposition 3: Orders as a percentage of customer total

-For each order, show what percentage of that customerâ€™s total spending this order represents.

-Uses Windowed SUM() with PARTITION BY to compute percent of group total.

In [19]:
%%sql
USE AdventureWorks2019;

SELECT
    soh.CustomerID,
    soh.SalesOrderID,
    soh.OrderDate,
    soh.TotalDue,
    soh.TotalDue * 1.0 /
        SUM(soh.TotalDue) OVER (PARTITION BY soh.CustomerID) AS PercentOfCustomerTotal
FROM Sales.SalesOrderHeader AS soh
ORDER BY CustomerID, OrderDate;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(11000, 43793, datetime.datetime(2011, 6, 21, 0, 0), Decimal('3756.9890'), Decimal('0.41217045835891761')),
 (11000, 51522, datetime.datetime(2013, 6, 20, 0, 0), Decimal('2587.8769'), Decimal('0.28390990978399319')),
 (11000, 57418, datetime.datetime(2013, 10, 3, 0, 0), Decimal('2770.2682'), Decimal('0.30391963185708918')),
 (11001, 43767, datetime.datetime(2011, 6, 17, 0, 0), Decimal('3729.3640'), Decimal('0.52867378418846961')),
 (11001, 51493, datetime.datetime(2013, 6, 18, 0, 0), Decimal('2674.0227'), Decimal('0.37906884386047294')),
 (11001, 72773, datetime.datetime(2014, 5, 12, 0, 0), Decimal('650.8008'), Decimal('0.09225737195105743')),
 (11002, 43736, datetime.datetime(2011, 6, 9, 0, 0), Decimal('3756.9890'), Decimal('0.41902554181739371')),
 (11002, 51238, datetime.datetime(2013, 6, 2, 0, 0), Decimal('2535.9640'), Decimal('0.28284184199884668')),
 (11002, 53237, datetime.datetime(2013, 7, 26, 0, 0), Decimal('2673.0613'), Decimal('0.29813261618375959')),
 (11003, 43701, datetime.datetime(2011, 5, 31, 0, 0), Decimal('3756.9890'), Decimal('0.41772562795369825')),
 (11003, 51315, datetime.datetime(2013, 6, 7, 0, 0), Decimal('2562.4508'), Decimal('0.28490937011805369')),
 (11003, 57783, datetime.datetime(2013, 10, 10, 0, 0), Decimal('2674.4757'), Decimal('0.29736500192824804')),
 (11004, 43810, datetime.datetime(2011, 6, 25, 0, 0), Decimal('3756.9890'), Decimal('0.41483478259275722')),
 (11004, 51595, datetime.datetime(2013, 6, 24, 0, 0), Decimal('2626.5408'), Decimal('0.29001428583874124')),
 (11004, 57293, datetime.datetime(2013, 10, 1, 0, 0), Decimal('2673.0613'), Decimal('0.29515093156850153')),
 (11005, 43704, datetime.datetime(2011, 6, 1, 0, 0), Decimal('3729.3640'), Decimal('0.41557109350765245')),
 (11005, 51612, datetime.datetime(2013, 6, 25, 0, 0), Decimal('2610.3084'), Decimal('0.29087230857063313')),
 (11005, 57361, datetime.datetime(2013, 10, 2, 0, 0), Decimal('2634.3974'), Decimal('0.29355659792171440')),
 (11006, 43819, datetime.datetime(2011, 6, 26, 0, 0), Decimal('3756.9890'), Decimal('0.41876800410917725')),
 (11006, 51198, datetime.datetime(2013, 5, 31, 0, 0), Decimal('2580.1419'), Decimal('0.28759223776845244'))]

### Proposition 4: Bucket customers into value tiers (NTILE)

-Compute each customerâ€™s lifetime total sales and divide customers into 4 value tiers (1 --> highest spenders, 4 --> lowest) using NTILE(4)

-NTILE() used for bucketing / segmentation.

In [21]:
%%sql
USE AdventureWorks2019;

WITH CustomerTotals AS (
    SELECT
        soh.CustomerID,
        SUM(soh.TotalDue) AS LifetimeTotal
    FROM Sales.SalesOrderHeader AS soh
    GROUP BY soh.CustomerID
)
SELECT
    CustomerID,
    LifetimeTotal,
    NTILE(4) OVER (ORDER BY LifetimeTotal DESC) AS ValueTier
FROM CustomerTotals
ORDER BY LifetimeTotal DESC;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(29818, Decimal('989184.0820'), 1),
 (29715, Decimal('961675.8596'), 1),
 (29722, Decimal('954021.9235'), 1),
 (30117, Decimal('919801.8188'), 1),
 (29614, Decimal('901346.8560'), 1),
 (29639, Decimal('887090.4106'), 1),
 (29701, Decimal('841866.5522'), 1),
 (29617, Decimal('834475.9271'), 1),
 (29994, Decimal('824331.7682'), 1),
 (29646, Decimal('820383.5466'), 1),
 (29580, Decimal('815914.2534'), 1),
 (29827, Decimal('801766.2100'), 1),
 (29497, Decimal('789884.2937'), 1),
 (29716, Decimal('781073.7175'), 1),
 (29913, Decimal('757449.6804'), 1),
 (30103, Decimal('725867.1659'), 1),
 (29957, Decimal('718258.8109'), 1),
 (29523, Decimal('696703.6050'), 1),
 (29616, Decimal('695242.2258'), 1),
 (30048, Decimal('678828.8377'), 1)]

### Proposition 5: Monthly sales vs. 4-month moving average

-Aggregate total sales per calendar month and compute a 4-month moving average of monthly sales for the company.

-Moving average using a window frame (ROWS BETWEEN 2 PRECEDING AND CURRENT ROW).

In [22]:
%%sql
USE AdventureWorks2019;

WITH MonthlySales AS (
    SELECT
        CONVERT(date, EOMONTH(soh.OrderDate)) AS EndOfMonth,
        SUM(soh.TotalDue) AS MonthlySales
    FROM Sales.SalesOrderHeader AS soh
    GROUP BY EOMONTH(soh.OrderDate)
)
SELECT
    EndOfMonth,
    MonthlySales,
    AVG(MonthlySales) OVER (
        ORDER BY EndOfMonth
        ROWS BETWEEN 3 PRECEDING AND CURRENT ROW
    ) AS MovingAvg_4Month
FROM MonthlySales
ORDER BY EndOfMonth;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(datetime.date(2011, 5, 31), Decimal('567020.9498'), Decimal('567020.9498')),
 (datetime.date(2011, 6, 30), Decimal('507096.4690'), Decimal('537058.7094')),
 (datetime.date(2011, 7, 31), Decimal('2292182.8828'), Decimal('1122100.1005')),
 (datetime.date(2011, 8, 31), Decimal('2800576.1723'), Decimal('1541719.1184')),
 (datetime.date(2011, 9, 30), Decimal('554791.6082'), Decimal('1538661.7830')),
 (datetime.date(2011, 10, 31), Decimal('5156269.5291'), Decimal('2700955.0481')),
 (datetime.date(2011, 11, 30), Decimal('815313.0152'), Decimal('2331737.5812')),
 (datetime.date(2011, 12, 31), Decimal('1462448.8986'), Decimal('1997205.7627')),
 (datetime.date(2012, 1, 31), Decimal('4458337.4444'), Decimal('2973092.2218')),
 (datetime.date(2012, 2, 29), Decimal('1649051.9001'), Decimal('2096287.8145')),
 (datetime.date(2012, 3, 31), Decimal('3336347.4716'), Decimal('2726546.4286')),
 (datetime.date(2012, 4, 30), Decimal('1871923.5039'), Decimal('2828915.0800')),
 (datetime.date(2012, 5, 31), Decimal('3452924.4537'), Decimal('2577561.8323')),
 (datetime.date(2012, 6, 30), Decimal('4610647.2153'), Decimal('3317960.6611')),
 (datetime.date(2012, 7, 31), Decimal('3840231.4590'), Decimal('3443931.6579')),
 (datetime.date(2012, 8, 31), Decimal('2442451.1831'), Decimal('3586563.5777')),
 (datetime.date(2012, 9, 30), Decimal('3881724.1860'), Decimal('3693763.5108')),
 (datetime.date(2012, 10, 31), Decimal('2858060.1970'), Decimal('3255616.7562')),
 (datetime.date(2012, 11, 30), Decimal('2097153.1292'), Decimal('2819847.1738')),
 (datetime.date(2012, 12, 31), Decimal('3176848.1687'), Decimal('3003446.4202'))]

### Proposition 6: Sales amount by year for each territory

-Show the total TotalDue for each territory, with one column per year (for example, 2011â€“2014). Territories should be rows, years should be columns.

-PIVOT : rotating row values into year columns.

In [23]:
%%sql
Use AdventureWorks2019;

WITH TerritoryYearSales AS (
    SELECT
        soh.TerritoryID,
        YEAR(soh.OrderDate) AS OrderYear,
        SUM(soh.TotalDue)   AS YearlySales
    FROM Sales.SalesOrderHeader AS soh
    GROUP BY soh.TerritoryID, YEAR(soh.OrderDate)
)
SELECT
    TerritoryID,
    ISNULL([2011], 0) AS Sales2011,
    ISNULL([2012], 0) AS Sales2012,
    ISNULL([2013], 0) AS Sales2013,
    ISNULL([2014], 0) AS Sales2014
FROM TerritoryYearSales
PIVOT (
    SUM(YearlySales)
    FOR OrderYear IN ([2011], [2012], [2013], [2014])
) AS p
ORDER BY TerritoryID;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(1, Decimal('2620943.8260'), Decimal('5325813.0562'), Decimal('6759500.6713'), Decimal('3355402.8175')),
 (2, Decimal('705672.1952'), Decimal('3272239.7992'), Decimal('2965567.0284'), Decimal('876730.6057')),
 (3, Decimal('1126645.7497'), Decimal('3334867.9788'), Decimal('3374336.2992'), Decimal('1077449.2196')),
 (4, Decimal('3144713.0989'), Decimal('9329154.3425'), Decimal('10239209.3403'), Decimal('4437517.8076')),
 (5, Decimal('1847744.5780'), Decimal('3344683.6085'), Decimal('2705730.9695'), Decimal('985940.2109')),
 (6, Decimal('2106905.8728'), Decimal('6599971.0217'), Decimal('7010449.6994'), Decimal('2681602.5941')),
 (7, Decimal('236268.6270'), Decimal('1743487.6538'), Decimal('4271019.2663'), Decimal('1868973.7989')),
 (8, Decimal('272780.9066'), Decimal('607828.1753'), Decimal('2869491.9712'), Decimal('1729718.5224')),
 (9, Decimal('1693032.7418'), Decimal('2347885.4611'), Decimal('4702404.0504'), Decimal('3071053.8419')),
 (10, Decimal('400991.9290'), Decimal('1769769.2149'), Decimal('4068178.6672'), Decimal('2335108.8971'))]

### Proposition 7:  Break down order cost components

-For each sales order, list SubTotal, TaxAmt, and Freight as separate rows with a column indicating the component name and another for the amount.

-USES UNPIVOT â€“ turning wide columns into long component rows.

In [25]:
%%sql
USE AdventureWorks2019;

SELECT
    SalesOrderID,
    Component,
    Amount
FROM (
    SELECT
        SalesOrderID,
        SubTotal,
        TaxAmt,
        Freight
    FROM Sales.SalesOrderHeader
) AS src
UNPIVOT (
    Amount FOR Component IN (SubTotal, TaxAmt, Freight)
) AS u
ORDER BY SalesOrderID, Component;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(43659, 'Freight', Decimal('616.0984')),
 (43659, 'SubTotal', Decimal('20565.6206')),
 (43659, 'TaxAmt', Decimal('1971.5149')),
 (43660, 'Freight', Decimal('38.8276')),
 (43660, 'SubTotal', Decimal('1294.2529')),
 (43660, 'TaxAmt', Decimal('124.2483')),
 (43661, 'Freight', Decimal('985.5530')),
 (43661, 'SubTotal', Decimal('32726.4786')),
 (43661, 'TaxAmt', Decimal('3153.7696')),
 (43662, 'Freight', Decimal('867.2389')),
 (43662, 'SubTotal', Decimal('28832.5289')),
 (43662, 'TaxAmt', Decimal('2775.1646')),
 (43663, 'Freight', Decimal('12.5838')),
 (43663, 'SubTotal', Decimal('419.4589')),
 (43663, 'TaxAmt', Decimal('40.2681')),
 (43664, 'Freight', Decimal('732.8100')),
 (43664, 'SubTotal', Decimal('24432.6088')),
 (43664, 'TaxAmt', Decimal('2344.9921')),
 (43665, 'Freight', Decimal('429.9821')),
 (43665, 'SubTotal', Decimal('14352.7713'))]

### Proposition 8: GROUPING SETS: Territory, Year, and Grand Total

-Produce:
Sales by (TerritoryID, Year)
Sales by Year only
A single grand total for all territories and years

-GROUPING SETS â€“ multiple aggregation levels in one query.

In [26]:
%%sql
USE AdventureWorks2019;

SELECT
    YEAR(soh.OrderDate) AS OrderYear,
    soh.TerritoryID,
    SUM(soh.TotalDue) AS TotalSales
FROM Sales.SalesOrderHeader AS soh
GROUP BY GROUPING SETS (
    (YEAR(soh.OrderDate), soh.TerritoryID),
    (YEAR(soh.OrderDate)),
    ()
)
ORDER BY OrderYear, TerritoryID;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(None, None, Decimal('123216786.1159')),
 (2011, None, Decimal('14155699.5250')),
 (2011, 1, Decimal('2620943.8260')),
 (2011, 2, Decimal('705672.1952')),
 (2011, 3, Decimal('1126645.7497')),
 (2011, 4, Decimal('3144713.0989')),
 (2011, 5, Decimal('1847744.5780')),
 (2011, 6, Decimal('2106905.8728')),
 (2011, 7, Decimal('236268.6270')),
 (2011, 8, Decimal('272780.9066')),
 (2011, 9, Decimal('1693032.7418')),
 (2011, 10, Decimal('400991.9290')),
 (2012, None, Decimal('37675700.3120')),
 (2012, 1, Decimal('5325813.0562')),
 (2012, 2, Decimal('3272239.7992')),
 (2012, 3, Decimal('3334867.9788')),
 (2012, 4, Decimal('9329154.3425')),
 (2012, 5, Decimal('3344683.6085')),
 (2012, 6, Decimal('6599971.0217')),
 (2012, 7, Decimal('1743487.6538'))]

### Proposition 9: ROLLUP: Year â†’ Month hierarchy with subtotals

-Show total sales by Year and Month, and use ROLLUP so that the result includes:

Monthly totals

Yearly totals

A final grand total

-ROLLUP â€“ automatic hierarchical subtotals (special case of GROUPING SETS).

In [29]:
%%sql
USE AdventureWorks2019;

SELECT
    YEAR(soh.OrderDate)  AS OrderYear,
    MONTH(soh.OrderDate) AS OrderMonth,
    SUM(soh.TotalDue)    AS TotalSales
FROM Sales.SalesOrderHeader AS soh
GROUP BY ROLLUP (
    YEAR(soh.OrderDate),
    MONTH(soh.OrderDate)
)
ORDER BY OrderYear, OrderMonth;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(None, None, Decimal('123216786.1159')),
 (2011, None, Decimal('14155699.5250')),
 (2011, 5, Decimal('567020.9498')),
 (2011, 6, Decimal('507096.4690')),
 (2011, 7, Decimal('2292182.8828')),
 (2011, 8, Decimal('2800576.1723')),
 (2011, 9, Decimal('554791.6082')),
 (2011, 10, Decimal('5156269.5291')),
 (2011, 11, Decimal('815313.0152')),
 (2011, 12, Decimal('1462448.8986')),
 (2012, None, Decimal('37675700.3120')),
 (2012, 1, Decimal('4458337.4444')),
 (2012, 2, Decimal('1649051.9001')),
 (2012, 3, Decimal('3336347.4716')),
 (2012, 4, Decimal('1871923.5039')),
 (2012, 5, Decimal('3452924.4537')),
 (2012, 6, Decimal('4610647.2153')),
 (2012, 7, Decimal('3840231.4590')),
 (2012, 8, Decimal('2442451.1831')),
 (2012, 9, Decimal('3881724.1860'))]

### Proposition 10: Compare each product to the average price in its category

-For each product, show its list price and compare it to the average list price of all products in the same product subcategory.

-Windowed AVG() used for per-group comparison (product vs. category average).

In [30]:
%%sql
USE AdventureWorks2019;

SELECT
    p.ProductID,
    p.Name AS ProductName,
    p.ProductSubcategoryID,
    p.ListPrice,
    AVG(p.ListPrice) OVER (
        PARTITION BY p.ProductSubcategoryID
    ) AS AvgPriceInSubcategory,
    p.ListPrice - AVG(p.ListPrice) OVER (
        PARTITION BY p.ProductSubcategoryID
    ) AS DifferenceFromAvg
FROM Production.Product AS p
WHERE p.ListPrice > 0
ORDER BY ProductSubcategoryID, ProductName;

 * mssql+pyodbc://SA:***@localhost,13001/master?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
Done.

[(516, 'HL Mountain Seat Assembly', None, Decimal('196.9200'), Decimal('159.1333'), Decimal('37.7867')),
 (519, 'HL Road Seat Assembly', None, Decimal('196.9200'), Decimal('159.1333'), Decimal('37.7867')),
 (522, 'HL Touring Seat Assembly', None, Decimal('196.9200'), Decimal('159.1333'), Decimal('37.7867')),
 (514, 'LL Mountain Seat Assembly', None, Decimal('133.3400'), Decimal('159.1333'), Decimal('-25.7933')),
 (517, 'LL Road Seat Assembly', None, Decimal('133.3400'), Decimal('159.1333'), Decimal('-25.7933')),
 (520, 'LL Touring Seat Assembly', None, Decimal('133.3400'), Decimal('159.1333'), Decimal('-25.7933')),
 (515, 'ML Mountain Seat Assembly', None, Decimal('147.1400'), Decimal('159.1333'), Decimal('-11.9933')),
 (518, 'ML Road Seat Assembly', None, Decimal('147.1400'), Decimal('159.1333'), Decimal('-11.9933')),
 (521, 'ML Touring Seat Assembly', None, Decimal('147.1400'), Decimal('159.1333'), Decimal('-11.9933')),
 (775, 'Mountain-100 Black, 38', 1, Decimal('3374.9900'), Decimal('1683.3650'), Decimal('1691.6250')),
 (776, 'Mountain-100 Black, 42', 1, Decimal('3374.9900'), Decimal('1683.3650'), Decimal('1691.6250')),
 (777, 'Mountain-100 Black, 44', 1, Decimal('3374.9900'), Decimal('1683.3650'), Decimal('1691.6250')),
 (778, 'Mountain-100 Black, 48', 1, Decimal('3374.9900'), Decimal('1683.3650'), Decimal('1691.6250')),
 (771, 'Mountain-100 Silver, 38', 1, Decimal('3399.9900'), Decimal('1683.3650'), Decimal('1716.6250')),
 (772, 'Mountain-100 Silver, 42', 1, Decimal('3399.9900'), Decimal('1683.3650'), Decimal('1716.6250')),
 (773, 'Mountain-100 Silver, 44', 1, Decimal('3399.9900'), Decimal('1683.3650'), Decimal('1716.6250')),
 (774, 'Mountain-100 Silver, 48', 1, Decimal('3399.9900'), Decimal('1683.3650'), Decimal('1716.6250')),
 (782, 'Mountain-200 Black, 38', 1, Decimal('2294.9900'), Decimal('1683.3650'), Decimal('611.6250')),
 (783, 'Mountain-200 Black, 42', 1, Decimal('2294.9900'), Decimal('1683.3650'), Decimal('611.6250')),
 (784, 'Mountain-200 Black, 46', 1, Decimal('2294.9900'), Decimal('1683.3650'), Decimal('611.6250'))]