# Documented examples of code in my propostions from the 2 Medium articles

This notebook contains the citation paragraphs for each of the documented SQL examples, along with direct links to the Medium articles used as references.

## Medium Articles

1. **For Examples 1-5**  
   **Window Functions in T-SQL: An In-depth Guide with Examples**  
   https://medium.com/@vikasrahar007/window-functions-in-t-sql-an-in-depth-guide-with-examples-8a3f2e211197

2. **For Examples 6-8**  
   **Using PIVOT and UNPIVOT in SQL Server**  
   https://medium.com/@dushyanthak/using-pivot-and-unpivot-in-sql-server-b7e0864ef92a

## Example 1 – My Proposition 1: Running Total of Sales by Territory

This example is supported by the first article: **Vikas Rahar’s Medium article, “Window Functions in T-SQL: An In-depth Guide with Examples”**. The article explains how `SUM() OVER` with `PARTITION BY` and `ORDER BY` can compute cumulative totals while preserving the original rows. My query applies the same principle by generating a running total of sales within each territory.

## Example 2 – My Proposition 2: Top 3 Orders per Customer (ROW_NUMBER)

This example is based on concepts from the first article, specifically the section on ranking functions like `ROW_NUMBER()`. The article describes how row numbering can be used to find “top N” entries within each group. I apply this idea to retrieve each customer’s top 3 highest-value orders.

## Example 3 – My Proposition 3: Percentage of Customer Total

This example is supported by the first article, which discusses analytic functions using `PARTITION BY`. The concept of calculating group-based totals while keeping each row visible comes directly from the article’s examples. Here, I use the same technique to compute each order’s percent contribution to customer spending.

## Example 4 – My Proposition 4: Customer Value Tiers (NTILE)

I use concepts from the first article,** which also covers advanced window functions like `NTILE()`. The article shows how values can be evenly distributed into buckets. I use that technique to divide customers into four spending tiers from highest to lowest.

## Example 5 – My Proposition 5: 4-Month Moving Average

This example is supported by the first article, especially the section explaining window frames (`ROWS BETWEEN`). The idea of smoothing data with moving averages comes directly from the article’s demonstration of analytic window frames. I applied the same logic to calculate a 3-month moving average of sales.

## Example 6 – My Propostion 6: Pivot Territory Sales by Year

This example is based on concepts from **Dushyantha K’s Medium article, “Using PIVOT and UNPIVOT in SQL Server”**. That article covers how `PIVOT` can rotate row-based data into column form for reporting. I use the pivot technique to show yearly sales for each territory as separate columns.

## Example 7 – My Propostion 7: Unpivot Order Cost Components

This example follows the second article,** which explains how `UNPIVOT` transforms wide tables into long format. The article’s examples demonstrate converting columns into attribute-value pairs, which I apply here to convert `SubTotal`, `TaxAmt`, and `Freight` into individual rows.

## Example 8 – My Propostion 8: Grouping Sets: Multi-Level Aggregations

This example is partially supported by the second article, which mentions advanced reporting techniques used alongside `PIVOT` and `UNPIVOT`. Although not exclusively focused on `GROUPING SETS`, the article emphasizes producing multi-axis summaries. I extend that concept using `GROUPING SETS` to compute detailed, yearly, and grand total levels in one query.


Together, these two articles supported the analytical techniques I used across my 10 propositions and demonstrate how advanced SQL enables deeper business insights beyond basic querying.